*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #eee;
  font-family: 'Montserrat', sans-serif;
}

.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
  margin: 1rem auto;
  padding-bottom: 4rem;
  border-radius: 0 0 8px 8px;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.015), 0 8px 8px rgba(0, 0, 0, 0.035), 0 12px 10px rgba(0, 0, 0, 0.055), 0 16px 12px rgba(0, 0, 0, 0.075);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.015), 0 8px 8px rgba(0, 0, 0, 0.035), 0 12px 10px rgba(0, 0, 0, 0.055), 0 16px 12px rgba(0, 0, 0, 0.075);
}

.todo__head {
  color: #fff;
  background: #1abc9e;
  width: 100%;
  border-radius: 8px 8px 0 0;
  text-align: center;
  padding: 1.5rem 1.5rem;
}

.todo__head h3 {
  padding: .25rem;
}

.todo__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  padding: .4rem 0;
}

.todo__input ::-webkit-input-placeholder {
  font-size: .5rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Montserrat';
}

.todo__input :-ms-input-placeholder {
  font-size: .5rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Montserrat';
}

.todo__input ::-ms-input-placeholder {
  font-size: .5rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Montserrat';
}

.todo__input ::placeholder {
  font-size: .5rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Montserrat';
}

.todo__input input {
  padding: .5rem 1.3rem;
  width: 100%;
  outline: none;
  background-color: #fff;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: .6rem;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Montserrat';
}

.contain__item {
  padding: .8erm 1.6rem;
  width: 100%;
  font-size: .7rem;
  background: rgba(0, 0, 0, 0.05);
  margin: 1rem 0;
}

.item__input {
  background: transparent;
  padding: .4rem .8rem;
  border: none;
  outline: none;
}

.addButton, .toggleButton, .editButton, .removeButton {
  border-radius: 50%;
  border: none;
  padding: .4rem .5rem;
  outline: none;
  background: transparent;
  cursor: pointer;
  margin: .25rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.addButton:hover, .toggleButton:hover, .editButton:hover, .removeButton:hover {
  background: rgba(0, 0, 0, 0.15);
}

input[type=checkbox] {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 6px solid #bdc3c7;
  border-radius: 50%;
  margin-left: 1rem;
}

input[type=checkbox]:checked {
  border: 6px solid #1abc9e;
}

.done {
  font-style: italic;
  color: rgba(0, 0, 0, 0.35);
}

input[type=text] {
  font-family: 'Montserrat';
}

.col {
  color: #575a59;
}

footer {
  font-size: .6rem;
}

footer a {
  color: #1abc9e;
}

@media (max-width: 1024px) {
  .todo {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .todo {
    width: 50%;
  }
}

@media (max-width: 650px) {
  .todo {
    width: 65%;
  }
}

@media (max-width: 450px) {
  .todo {
    width: 95%;
  }
}
/*# sourceMappingURL=style.css.map */